<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unisex</title>
</head>

<body>
    <div class="container">

        <div class="left-image">
            <img src="assets/images/Perfumes/Unisex/5fffe9945dd622506db635fa0ec65b0b538af9f5.webp" alt="Imagen izquierda">
        </div>
        
        <div class="right-image">
            <img src="assets/images/Perfumes/Unisex/c06c8d4ac42199b44c6940736f184a6c80b09b44.webp" alt="Imagen derecha">
        </div>

        <div class="perfume">
            <img src="assets/images/Perfumes/Unisex/oud-minerale-edp-v100ml.webp" alt="Perfume 132">
            <h3>Oud Minerale</h3>
            <h5>Tom Ford</h5>
            <p>Eau de parfum</p>
        </div>

        <div class="perfume">
            <img src="assets/images/Perfumes/Unisex/millesime-imperial-edp-vapo100ml.webp" alt="Perfume 133">
            <h3>Millesime Imperial</h3>
            <h5>Creed</h5>
            <p>Eau de parfum</p>
        </div>

        <div class="perfume">
            <img src="assets/images/Perfumes/Unisex/infusion-vanille-eau-de-parfum.webp" alt="Perfume 134">
            <h3>Infusion Vanille</h3>
            <h5>Prada</h5>
            <p>Eau de parfum</p>
        </div>

        <div class="perfume">
            <img src="assets/images/Perfumes/Unisex/naxos-eau-de-parfum.webp" alt="Perfume 135">
            <h3>Naxos</h3>
            <h5>Xerjoff</h5>
            <p>Eau de parfum</p>
        </div>

        <div class="perfume">
            <img src="assets/images/Perfumes/Unisex/erba-pura-eau-de-parfum.webp" alt="Perfume 136">
            <h3>Erba Pura</h3>
            <h5>Xerjoff</h5>
            <p>Eau de parfum</p>
        </div>

        <div class="perfume">
            <img src="assets/images/Perfumes/Unisex/accento-eau-de-parfum.webp" alt="Perfume 137">
            <h3>Accento</h3>
            <h5>Xerjoff</h5>
            <p>Eau de parfum</p>
        </div>

        <div class="perfume">
            <img src="assets/images/Perfumes/Unisex/40-knots-eau-de-parfum.webp" alt="Perfume 138">
            <h3>More Than Words</h3>
            <h5>Xerjoff</h5>
            <p>Eau de parfum</p>
        </div>
        
      </div>   
</body>
</html>
