<div id="paypal-button-container"></div>
    <p id="result-message"></p>
    <!-- Replace the "test" client-id value with your client-id -->
    <!-- <script src="https://www.paypal.com/sdk/js?client-id=Abz9n39NRW2osCl11bQGDTNzODeWqghimwWywLbXoaHmN4udc-1FZVnS2gsp_gp_ZM6pWrTZBZ0Z3gFM&currency=USD"></script> -->
    <!-- <script>
        window.paypal
  .Buttons({
    async createOrder() {
      try {
        const response = await fetch("/api/orders", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          // use the "body" param to optionally pass additional order information
          // like product ids and quantities
          body: JSON.stringify({
            cart: [
              {
                id: "YOUR_PRODUCT_ID",
                quantity: "YOUR_PRODUCT_QUANTITY",
              },
            ],
          }),
        });
        
        const orderData = await response.json();
        
        if (orderData.id) {
          return orderData.id;
        } else {
          const errorDetail = orderData?.details?.[0];
          const errorMessage = errorDetail
            ? `${errorDetail.issue} ${errorDetail.description} (${orderData.debug_id})`
            : JSON.stringify(orderData);
          
          throw new Error(errorMessage);
        }
      } catch (error) {
        console.error(error);
        resultMessage(`Could not initiate PayPal Checkout...<br><br>${error}`);
      }
    },
    async onApprove(data, actions) {
      try {
        const response = await fetch(`/api/orders/${data.orderID}/capture`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
        });
        
        const orderData = await response.json();
        // Three cases to handle:
        //   (1) Recoverable INSTRUMENT_DECLINED -> call actions.restart()
        //   (2) Other non-recoverable errors -> Show a failure message
        //   (3) Successful transaction -> Show confirmation or thank you message
        
        const errorDetail = orderData?.details?.[0];
        
        if (errorDetail?.issue === "INSTRUMENT_DECLINED") {
          // (1) Recoverable INSTRUMENT_DECLINED -> call actions.restart()
          // recoverable state, per https://developer.paypal.com/docs/checkout/standard/customize/handle-funding-failures/
          return actions.restart();
        } else if (errorDetail) {
          // (2) Other non-recoverable errors -> Show a failure message
          throw new Error(`${errorDetail.description} (${orderData.debug_id})`);
        } else if (!orderData.purchase_units) {
          throw new Error(JSON.stringify(orderData));
        } else {
          // (3) Successful transaction -> Show confirmation or thank you message
          // Or go to another URL:  actions.redirect('thank_you.html');
          const transaction =
            orderData?.purchase_units?.[0]?.payments?.captures?.[0] ||
            orderData?.purchase_units?.[0]?.payments?.authorizations?.[0];
          resultMessage(
            `Transaction ${transaction.status}: ${transaction.id}<br><br>See console for all available details`,
          );
          console.log(
            "Capture result",
            orderData,
            JSON.stringify(orderData, null, 2),
          );
        }
      } catch (error) {
        console.error(error);
        resultMessage(
          `Sorry, your transaction could not be processed...<br><br>${error}`,
        );
      }
    },
  })
  .render("#paypal-button-container");
  
// Example function to show a result to the user. Your site's UI library can be used instead.
function resultMessage(message) {
  const container = document.querySelector("#result-message");
  container.innerHTML = message;
}

    </script> -->
    <main class="container">
        <h1 class="heading">
            <ion-icon name="cart-outline"></ion-icon>Carrito Compra
        </h1>

        <section class="tracking-form">
            <form (submit)="updateAddress()" >
                <h2>Entrega</h2>
                <div class="form-group">
                    <label>Dirección envío: </label>
                    <input type="text" [value]="order.address ? order.address : user.address"
                        [(ngModel)]="order.address" name="address">
                </div>
                <div class="form-group">
                    <label for="community">Ciudad: </label>
                    <!-- <select id="community" [(ngModel)]="user.community" name="community">
                        <option *ngFor="let community of communities" [value]="community.id">{{ community['name'] }}
                        </option>
                    </select> -->
                    <select id="community" [(ngModel)]="user.community ? user.community : order.community" name="community">
                        <option *ngFor="let community of communities" [value]="community.id">{{ community['name'] }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Código Postal: </label>
                    <input type="text" [value]="order.postalCode ? order.postalCode : user.postalCode" name="postalCode"
                        [(ngModel)]="order.postalCode">
                </div>
                <button class="btn btn-primary" type="submit">Confirmar</button>
                <br><br>
            </form>
        </section>

        <div class="item-flex">
            <section class="checkout">
                <h2 class="section-heading">Detalles de Pago</h2>
                <form (submit)="updateOrderPayment()" [ngClass]="{'item-flex-bloqueado': contentBlocked}">
                <div class="payment-form">
                    <div class="payment-method">
                        <button class="method selected">
                            <ion-icon name="card"></ion-icon>
                            <span>Tarjeta</span>
                            <ion-icon class="checkmark fill" name="checkmark-circle"></ion-icon>
                        </button>

                        <button class="method">
                            <ion-icon name="logo-paypal"></ion-icon>
                            <span>Paypal</span>
                            <ion-icon class="checkmark" name="checkmark-circle-outline"></ion-icon>
                        </button>
                    </div>

                    
                        <div class="cardholder-name">
                            <label for="cardholder-name" class="label-default">Nombre Tarjeta</label>
                            <input type="text" name="cardholder-name" id="cardholder-name" class="input-default">
                        </div>

                        <div class="card-number">
                            <label for="card-number" class="label-default">Número tarjeta </label>
                            <input type="text" name="card-number" id="card-number" class="input-default">
                        </div>

                        <div class="input-flex">

                            <div class="expire-date">
                                <label for="expire-date" class="label-default">Fecha expiración</label>
                                <div class="input-flex">
                                    <input type="number" name="day" id="expire-date" placeholder="31" min="1" max="31"
                                        class="input-default">
                                    /
                                    <input type="number" name="month" id="expire-date" placeholder="12" min="1" max="12"
                                        class="input-default">
                                </div>
                            </div>
                            <div class="cvv">
                                <label for="cvv" class="label-default">CVV</label>
                                <input type="number" name="cvv" id="cvv" class="input-default">
                            </div>
                        </div>
                    
                </div>
                <button class="btn btn-primary">
                    <b>Pagar</b><span id="payAmount">{{ order.total }} €</span>
                </button>
                <div *ngIf="!!message" class="message-container" [ngClass]="{'message-container': true, 'message-fade-out': !message}">
                  {{ this.message }}</div>
            </form>
            </section>

            
            <section class="cart">
                <div class="cart-item-box">
                    <h2 class="section-heading">Detalles compra</h2>
                    <div class="product-card">
                        <div class="card" *ngFor="let item of items">
                            <div class="img-box">
                                <!-- <img src="{{ item.productImage }}" style="width: 50px; height: 50px;"> -->
                                <a [routerLink]="['/shop-product', item['productId']]">
                                    <img src="{{ item.productImage }}" alt="Prada Homme" width="80px"
                                        class="product-img">
                                    <!-- <img src="assets/images/Perfumes/Hombre/l-homme.jpg" alt="Prada Homme" width="80px" class="product-img"> -->
                                </a>
                            </div>
                            <div class="detail">
                                <h4 class="product-name"><a [routerLink]="['/shop-product', item['productId']]"> {{
                                        item.productName }} </a></h4>

                                <div class="wrapper">
                                    <div class="product-qty">
                                        <button id="decrement"
                                            (click)="updateQuantity(item.productId,1,item.unitPrice,'minus')">
                                            <ion-icon name="remove-outline"></ion-icon>
                                            
                                        </button>
                                        <span id="quantity">{{ item.quantity }}</span>
                                        <button id="increment" (click)="updateQuantity(item.productId,1,item.unitPrice,'plus')">
                                            <ion-icon name="add-outline"></ion-icon>
                                        </button>
                                        <span id="quantity">{{ item.size }}</span>
                                    </div>
                                    <div class="price">
                                        € <span id="price">{{ item.unitPrice }}</span>
                                    </div>
                                    <div class="subtotal">
                                         <span id="price">{{ item.subTotal }}</span>
                                    </div>
                                    <div class="subtotal">
                                        <button class="product-close-btn" (click)="eliminarItem(item.id)"><ion-icon name="close-outline"></ion-icon></button>
                                    </div>

                                </div>

                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="wrapper">

                    <div class="discount-token">
                        <label for="discount-token" class="label-default">Código descuento</label>

                        <div class="wrapper-flex">
                            <input type="text" name="discount-token" id="discount-token" class="input-default">

                            <button class="btn btn-outline">Aplicar</button>
                        </div>
                    </div>

                    <div class="amount">
                        <div class="subtotal">
                            <span>Subtotal</span><span><span id="subtotal">{{ (order.total) * (0.79)  | number:'1.2-2' }}€</span></span>
                        </div>
                        <div class="IVA">
                            <span>IVA</span><span><span id="IVA">{{ (order.total) * (0.21)  | number:'1.2-2' }}€</span></span>
                        </div>
                        <div class="Envio">
                            <span>Envio</span><span><span id="Envio">0,00€</span></span>
                        </div>
                        <div class="Total">
                            <span>TOTAL</span><span><span id="total">{{ order.total }}€</span></span>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </main>


