#about-us {
    margin-top: 150px;
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

#about-us .container {
    max-width: 800px;
    margin: 0 auto;
}

#about-us h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

#about-us p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}
