<body>
  <header class="header">
     <a href="#" class="logo"><img src="../../../../assets/images/Imagen2.png" alt=""></a>
     <input type="checkbox" id="check">
      <label for="check" class="icons">
       <i class='bx bx-menu' id="menu-icon"></i>
       <i class='bx bx-x' id="close-icon"></i>
      </label>
      <nav class="navbar">
        <a routerLink="/index" routerLinkActive="active" style="--i:0;">Home</a>
        <a routerLink="/perfume" routerLinkActive="active" style="--i:1;">Perfumes</a>
        <a routerLink="/hombre" routerLinkActive="active" style="--i:2;">Hombre</a>
        <a routerLink="/mujer" routerLinkActive="active" style="--i:3;">Mujer</a>
        <a routerLink="/unisez" routerLinkActive="active" style="--i:4;">Unisex</a>
        <a routerLink="/aboutus" routerLinkActive="active" style="--i:5;">About</a>
        <a routerLink="/contact" routerLinkActive="active" style="--i:6;">Contacto</a>
        <a routerLink="/carrito" routerLinkActive="active" style="--i:6;"><i class="fa-solid fa-cart-shopping"></i></a>
        <a routerLink="/signin" routerLinkActive="active" id="icoc" style="--i:7;"><img src="../../../../assets/images/sesion.png" alt="sesion"></a>
      </nav>
       <div class="container">
        <span class="text1" id="welcomeText">Bienvenidos</span>
       </div>
  </header>
</body>
