/* Estilos para la lista ul */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Utiliza flexbox para colocar los elementos horizontalmente */
}

/* Estilos para los elementos li */
li {
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc; /* Añade un borde de 1px sólido con color gris claro */
}

div {
    border: 1px solid #ccc; /* Añade un borde de 1px sólido con color gris claro al contenedor div */
    padding: 10px; /* Añade relleno al contenedor div */
}