<!-- <div class="row">
    <div class="col-md-4-mx-auto">
        <div class="card">
            <div class="card-header">
                Registro
            </div>
            <div class="card-body">
                asd
            </div>
        </div>
    </div>
</div> -->

<h1>Registro</h1>

<div>
    <form (submit)="signup()">
        <input type="text" name="email" [(ngModel)]="user.email" placeholder="email" required autofocus /> <br>
        <input type="password" name="password" [(ngModel)]="user.password" placeholder="Password" required /> <br>

        <button type="submit">Registro</button>
    </form>
</div>

<br><br>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    
    <div class="fondo">
        <form (submit)="signup()">
            
            <h1>Registro</h1>

            <div class="input-box">
                <input type="text" name="nombre" [(ngModel)]="user.nombre" placeholder="Nombre" required>
                <i class="bx bxs-user"></i>
            </div>
            <div class="input-box">
                <input type="text" name="apellido" [(ngModel)]="user.apellido" placeholder="Apellido" required>
                <i class="bx bxs-user"></i>
            </div>
            <div class="input-box">
                <input type="text" name="domicilio" [(ngModel)]="user.domicilio" placeholder="Domicilio" required>
                <i class="bx bxs-home"></i>
            </div>
            <div class="input-box">
                <input type="text" name="postal" [(ngModel)]="user.postal" placeholder="Código Postal" required>
                <i class="bx bx-package"></i>
            </div>
            <div class="input-box">
                <input type="text" name="telefono" [(ngModel)]="user.telefono" placeholder="teléfono" required>
                <i class="bx bx-phone"></i>
            </div>
            <div class="input-box">
                <input type="text" name="email" [(ngModel)]="user.email" placeholder="Email" required autofocus>
                <i class="bx bx-mail"></i>
            </div>
            <div class="input-box">
                <input type="password" name="password" [(ngModel)]="user.password" placeholder="Contraseña" required>
                <i class="bx bxs-lock-alt"></i>
            </div>

            <button type="submit" class="btn">Registrar</button>

        </form>
    </div>
</body>
</html>